  http: ^0.13.4
  location: ^4.3.0

  geolocator: ^7.6.2
  dio: ^4.0.0
  flip_card: ^0.5.0
  flutter_map: ^0.13.0
  latlong: ^0.6.1
  flutter_barcode_scanner: ^2.0.0
  permission_handler: ^8.3.0
  fluttertoast: ^8.0.8
  connectivity: ^3.0.6
  geocoding: ^2.1.0
  archive: ^3.3.7


flutter:
  assets:
    - assets/images/